/* General Header Styling */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color:black;
    color: white;
    position: fixed;
    left:-50px;
    top: 0;
    width: 100%;
    height: 20px;
    z-index: 1000;
    box-shadow: 0 15px 30px rgba(250, 251, 250, 0.5);
  }
  .button{
    background-color: black;
    color:white;
  }
  
  .logo h1 {
    font-size: 1.5rem;
    margin: 0;
    position: relative;
    left:50px;
  }
  .nav ul li {
    font-size: 0.875rem; /* Smaller font size (14px) */
  }
  /* Hamburger Menu Button */
  .menu-button {
    display: none; /* Hidden by default for larger screens */
    background: none;
    border: none;
    font-size: 1 rem;
    color: white;
    cursor: pointer;
  }
  
  .menu-button:focus {
    outline: none;
  }
  
  /* Navigation Menu */
  .nav {
    display: flex;
    align-items: center;
  
  }
  
  .nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .nav ul li {
    margin: 0 1rem;
  }
  
  .nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    transition: color 0.3s;
  }
  
  .nav ul li a:hover {
    color: #090a09;
  }

  
  /* Responsive Design for Mobile */
  @media (max-width: 768px) {
    /* Show Hamburger Menu Button */
    .menu-button {
      display: block;
    }
  
    /* Dropdown Menu Styles */
    .nav {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: -300px; /* Hide above the viewport */
      left: 0;
      width: 100%;

      background-color: #333;
      overflow: hidden;
      transition: top 0.5s ease; /* Smooth dropdown transition */
      z-index: 999;
    }
  
    .nav.open {
      top: 60px; /* Slide down from the header */
 
    }
  
    .nav ul {
      flex-direction: column;
      padding: 1rem 0;
      margin: 0;
    }
  
    .nav ul li {
      margin: 0.5rem 0;
      text-align: center;
    }
  
    .nav ul li a {
      font-size: 1.2rem;
    }
    .logo h1 {
      font-size: 1rem;
      margin: 0;
      position: relative;
      left:100px;
      top:-25px;
      float: left;
      align-items: center;
    }
  }
  